{% extends 'base.html' %} {% block content %} {% load staticfiles %}

<div class="container">
    <div class="row">
        <div class="row">
            <div class="p-2 col-sm w-50 text-center">
                {% if error %}
                    <div class="p-1">
                        <font color="black" style="font-size:1.5vh">{{ error }}</font>                    
                    </div>
                {% endif %}

                <div>
                    <font style="font-size:2.5vh">Sign Up!</font>
                </div>

                <div>
                    <form method="POST" action="{% url 'signup' %}">
                        {% csrf_token %}
                        <font style="font-size:1.5vh">
                            Username:
                            <br />
                            <input type="text" name="username" />
                            <br />
                            Password:
                            <br />
                            <input type="password" name="password1" />
                            <br />
                            Confirm Password:
                            <br />
                            <input type="password" name="password2" />
                            <br />
                            <br />

                            <input type="submit" class="btn btn-primary" value="Sign Up!" />
                            <br />
                            <br />
                            <a href="{% url 'login' %}">I have an account, just log me in!</a>
                        </font>
                    </form>
                </div>
            </div>

            <div class="p-2 col-sm w-50 text-center">
                <figure class="w-50">
                    <img src="{% static 'p_logo.png' %}" class="img-fluid" />
                    <font style="font-size:1.5vh">Welcome to Product Hunt - Demo Website</font>
                </figure>
            </div>
        </div>
    </div>
</div>

{% endblock %}