{% extends 'base.html' %} {% block content %}

<div class="pt-1 row">
    <div class="col-2">
        <img src="{{ product.icon.url }}" class="img-fluid" />
    </div>

    <div class="col-10">
        <a href="{{ product.url }}">
            <font style="font-size:3.5vh">{{ product.title }}</font>
        </a>
    </div>
</div>

<hr />

<div class="pt-1 row">
    <div class="col-10">
        <img src="{{ product.image.url }}" class="img-fluid" />
    </div>

    <div class="col-2">
        <a href="javascript:{document.getElementById('upvote').submit()}">
            <button class="btn btn-primary btn-lg btn-block">
                <span class="oi oi-thumb-up"></span> {{ product.votes_total }}</button>
        </a>
    </div>
</div>

<div class="pt-1 row">
    <div class="col-4 text-left">
        <font style="font-size:2vh"><span class="oi oi-person"></span> Hunted by: {{ product.hunter.username }}</font>
    </div>

    <div class="col-4 text-right">
        <font style="font-size:2vh"><span class="oi oi-clock"></span> {{ product.pub_date_pretty }}</font>
    </div>
</div>

<div class="pt-1 row">
    <div class="col-8 text-left">
        <p style="font-size:1.5vh">{{ product.body }}</p>
    </div>
</div>

<form id="upvote" method="POST" action="{% url 'upvote' product.id %}" >
    {% csrf_token %}
    <input type="hidden">
</form>

{% endblock %}