{% extends 'base.html' %} {% load product_functions %}

{% block content %}

{% for product in products.all %}
<div class="row pt-3 ">
    <div class="col-2" onclick="window.location='{% url 'detail' product.id %}';" style="cursor: pointer;" >
        <img src="{{ product.icon.url }}" class="img-fluid" />
    </div>

    <div class="col-8" onclick="window.location='{% url 'detail' product.id %}';" style="cursor: pointer;">
        <font style="font-size:3vh">{{ product.title }}</font>
        <p style="font-size:1.5vh">{{ product.summary }}</p>
    </div>

    <div class="col-2">
        {% user_has_voted user.get_username product.id as has_voted %}        
        {% if has_voted == False %}
        <a href="javascript:{document.getElementById('upvote{{ product.id }}').submit()}">
                <button class="btn btn-primary btn-lg btn-block">
                    <span class="oi oi-thumb-up"></span> {{ product.votes_total }}
                </button>
        </a>
        {% else %}
        <a href="javascript:{document.getElementById('downvote{{ product.id }}').submit()}">
            <button class="btn btn-success btn-lg btn-block">
                <span class="oi oi-thumb-up"></span> {{ product.votes_total }}</button>                
        </a>
        {% endif %}
    </div>
</div>

<form id="upvote{{ product.id }}" method="POST" action="{% url 'upvote' product.id %}" >
    {% csrf_token %}
    <input type="hidden">
    <input type="hidden" name="previous_url" value="{{ request.path }}">
</form>

<form id="downvote{{ product.id }}" method="POST" action="{% url 'downvote' product.id %}" >
    {% csrf_token %}
    <input type="hidden">
    <input type="hidden" name="previous_url" value="{{ request.path }}">
</form>

{% endfor %}

{% endblock %}